/*reset*/
/* 16*62.5=1.000 rem */
html{
    font-size: 62.5%;
}
body{


    font: 1.6rem sans-serif;    /*   1.6rem = 16 pix*/
    margin: 0;
}
h1,h2,h3,h4,figure,p,ul,ol{

    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 100;
}
*{

    box-sizing: border-box;
}
:root{
    /*mes variables css*/
    --color-default: #222;
    --color-list: #ccc;
    --color-page: #fafafa;

}
/*theme*/
    header {

        background-color: var(--color-default);
    }
    header h1{
        color: var(--color-page);
        line-height: 6.5rem ;
        text-align: center;
    }

figure{

    max-width: 70rem; /*700pix*/
    margin: :5.0rem auto;
}
figure img{
    display: block;
    width: 100%;
}